<div class="row">
  <div class="col-xs-6">
    <h5>{{employee.firstName}}, {{employee.lastName}}</h5>
    <h5>{{employee.startDate | date:'dd/MM/yyyy'}}</h5>
    <h5>{{employee.endDate | date:'dd/MM/yyyy'}}</h5>
    <h5>{{employee.basicSalary | currency}}</h5>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <form ng-submit="post()" class="form-horizontal">
      <div class="form-group">
        <input type="number" class="form-control" ng-model="newPayment.salary" placeholder="Salary">
      </div>
      <div class="form-group">
        <input type="date" class="form-control" ng-model="newPayment.startDate" ng-change="validatePreviousPaymentDate()" placeholder="Start date">
      </div>
      <div class="form-group">
        <input type="date" class="form-control" ng-model="newPayment.endDate" ng-change="validateEndDate()" placeholder="End date">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" ng-model="newPayment.deduction" placeholder="Deductions">
      </div>
      <div class="form-group">
        <button class="btn btn-default">Add Payment</button>
      </div>
    </form>
  </div>
</div>
<div class="row" ng-show="payments.length > 0">
  <div class="col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Salary</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Deductions</th>
          <th>Total</th>
          <th>Average</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="payment in payments">
          <td>{{payment.salary}}</td>
          <td>{{payment.startDate | date:'dd/MM/yyyy'}}</td>
          <td>{{payment.endDate | date:'dd/MM/yyyy'}}</td>
          <td>{{payment.deduction}}</td>
          <td>{{payment.salary - payment.deduction | number:2}}</td>
          <td>{{(payment.salary - payment.deduction) / 7  | number:2}}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" ng-click="calculate()">Calculate</button>
  </div>
</div>