<section layout="row" layout-align="center top">
    <section layout="row" class="payments-section" flex="30" layout-align="center center">
        <form ng-submit="post()" class="">
            <div layout="row">
                <md-datepicker class="" ng-model="newPayment.startDate" ng-change="validatePreviousPaymentDate()"
                               md-placeholder="Start date"></md-datepicker>
                <md-datepicker class="" ng-model="newPayment.endDate" ng-change="validateEndDate()"
                               md-placeholder="End date"></md-datepicker>
            </div>
            <div layout="row">
                <md-input-container>
                    <input type="number" class="form-control" ng-model="newPayment.salary" placeholder="Salary"
                           md-autofocus>
                </md-input-container>
                <md-input-container>
                    <input type="number" class="form-control" ng-model="newPayment.deduction" placeholder="Deductions">
                </md-input-container>
            </div>
            <md-input-container>
                <md-button class="md-primary" ng-click="post()">Add Payment</md-button>
                <md-button class="md-primary" ng-click="calculate()">Calculate</md-button>
                <md-button class="md-primary" ng-click="">Print</md-button>
            </md-input-container>
        </form>
    </section>
    <section layout="column" class="payments-section" flex="20" flex-offset="50">
        <div flex layout="row">
            <div layout="column">
                <img src="../../images/employees.svg" alt="">
            </div>
            <div flex layout="column">
                <h3 class="text-primary">{{employee.firstName}} {{employee.lastName}}</h3>
                <h5>Start Date: <strong>{{employee.startDate | date:'dd/MM/yyyy'}}</strong></h5>
                <h5>End Date: <strong>{{employee.endDate | date:'dd/MM/yyyy'}}</strong></h5>
                <h5>Basic Salary: <strong>{{employee.basicSalary | currency}}</strong></h5>
            </div>
        </div>
    </section>
</section>
<section layout="row" layout-align="center center" ng-show="payments.length > 0">
    <table class="table table-striped" id='table-payments'>
        <thead>
        <tr>
            <th></th>
            <th>Salary</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Deductions</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="payment in payments">
            <td class="text-danger"><span ng-click="removePayment($event, payment)" class="glyphicon glyphicon-remove" title="Remove row"></span></td>
            <td>{{payment.salary | currency}}</td>
            <td>{{payment.startDate | date:'dd/MM/yyyy'}}</td>
            <td>{{payment.endDate | date:'dd/MM/yyyy'}}</td>
            <td>{{payment.deduction}}</td>
            <td>{{payment.salary - payment.deduction | currency}}</td>
        </tr>
        </tbody>
    </table>
</section>
