<section layout="row" layout-align="center center" layout-wrap>
  <form ng-submit="post()" class="form-horizontal" enctype="multipart/form-data">
    <div layout="row">
      <md-input-container>
        <input type="text" class="form-control" ng-model="newCompany.name" placeholder="Company name" required>
      </md-input-container>
      <md-input-container>
        <input type="number" class="form-control" ng-model="newCompany.utilityDays" placeholder="Utility Days" required>
      </md-input-container>
      <md-input-container>
        <input type="number" class="form-control" ng-model="newCompany.interest" placeholder="Interest" required>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container>
        <input type="file" nv-file-select="" uploader="uploader" required>
      </md-input-container>
      <md-input-container>
        <md-button type="submit" class="md-raised md-primary">Save</md-button>
      </md-input-container>
    </div>
  </form>
</section>
<section layout="row" layout-align="center center" layout-wrap>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Logo</th>
      <th>Name</th>
      <th>Utility Days</th>
      <th>Interest</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="company in companies">
      <td><img src="{{company.logo}}" alt=""></td>
      <td>{{company.name}}</td>
      <td>{{company.utilityDays}}</td>
      <td>{{company.interest}}</td>
    </tr>
    </tbody>
  </table>
</section>