<div class="row">
  <form ng-submit="post()" class="form-horizontal">
    <h3>Add Company</h3>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="newCompany.name" placeholder="Company name" required>
    </div>
    <div class="form-group">
      <input type="number" class="form-control" ng-model="newCompany.utilityDays" placeholder="Utility Days" required>
    </div>
    <div class="form-group">
      <input type="number" class="form-control" ng-model="newCompany.interest" placeholder="Interest" required>
    </div>
    <div class="form-group">
      <input type="file" nv-file-select uploader="uploader" required>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-xs-12" ng-show="companies.length > 0">
    <h3>Company List</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Interest</th>
          <th>Utility Days</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="company in companies">
          <td>{{company.name}}</td>
          <td>{{company.interest}}</td>
          <td>{{company.utilityDays}}</td>
          <td class="text-center"><span class="glyphicon glyphicon-pencil" ng-click="editCompany($event, company)" title="Edit company information"></span></td>
          <td class="text-center text-danger"><span class="glyphicon glyphicon-remove" ng-click="deleteCompany($event, company)" title="Remove company"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>