body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.absolute-center{
    width: 50%;
    height: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.ng-cloak{
  display: none;
}
.link-disabled {
  color: #ccc;
  cursor: default;
}
.link-enabled {
  color: #000;
  cursor: pointer;
}
.link-enabled:hover{
  background: #fcfcfc; 
}
#table-employee tr td span:hover{
  cursor: pointer;
}