<div class="auth-card mdl-card mdl-shadow--2dp">
  <form ng-submit="login()" class="">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Login</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-input-container>
          <label>User Name</label>
          <input type="text" id="inputUsername" class="" ng-model="user.username" required>
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input type="password" id="inputPassword" class="" ng-model="user.password" required>
        </md-input-container>

      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" type="submit">Login</md-button>
      </md-card-actions>
    </md-card>
  </form>
</div>
