<div layout="row" ng-cloak>
  <div flex>
    <md-card ng-click="redirectCompanies()">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Empresas</span>
        </md-card-title-text>
        <md-card-title-media>
          <md-icon md-svg-icon="companies" class="icon-large"></md-icon>
        </md-card-title-media>
      </md-card-title>
      <md-card-content>
        Crear y modificar datos de empresas para asociar trabajadores e impresión de recibos
      </md-card-content>
    </md-card>

  </div>
  <div flex>
    <md-card ng-click="redirectEmployees()" ng-disable="companies.length == 0">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Trabajadores</span>
        </md-card-title-text>
        <md-card-title-media>
          <md-icon md-svg-icon="employees" class="icon-large" aria-label="Cake Icon"></md-icon>
        </md-card-title-media>
      </md-card-title>
      <md-card-content>
        Crear y modificar trabajadores para asignación de pagos y generación de recibos
      </md-card-content>
    </md-card>
  </div>
  <div flex>
    <md-card ng-click="" ng-disable="employees.length == 0">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Recibos</span>
        </md-card-title-text>
        <md-card-title-media>
          <md-icon md-svg-icon="receipt" class="icon-large"></md-icon>
        </md-card-title-media>
      </md-card-title>
      <md-card-content>
        Generar e imprimir recibos a trabajadores
      </md-card-content>
    </md-card>
  </div>
</div>
