<div layout="row" ng-cloak>
  <div flex>
    <a href="#/companies">
      <div ng-class="companiesClass()">
        <div class="text-center">
          <md-icon md-svg-icon="companies" class="icon-large"></md-icon>
        </div>
        <h3 class="text-center">Empresas</h3>
        <p>Crear y modificar datos de empresas para asociar trabajadores e impresión de recibos</p>
      </div>
    </a>
  </div>
  <div flex>
    <a ng-show="companies.length > 0" href="#/employees">
    <div ng-class="companiesClass()">
      <div class="text-center">
        <md-icon md-svg-icon="employees" class="icon-large" aria-label="Cake Icon"></md-icon>
      </div>
      <h3 class="text-center">Trabajadores</h3>
      <p>Crear y modificar trabajadores para asignación de pagos y generación de recibos</p>
    </div>
    </a>
  </div>
  <div flex>
    <a ng-show="employees.length > 0" href="#">
      <div ng-class="employeesClass()">
        <div class="text-center">
          <md-icon md-svg-icon="receipt" class="icon-large"></md-icon>
        </div>
        <h3 class="text-center">Recibos</h3>
        <p>Generar e imprimir recibos a trabajadores</p>
      </div>
    </a>
  </div>
</div>