<section layout="row" layout-align="center center" layout-wrap>
    <form ng-submit="post()" class="form-horizontal">
        <div flex layout="row">
            <md-input-container>
                <input type="text" id="inputFirstName" class="form-control" ng-model="newEmployee.firstName"
                       placeholder="First Name" required>
            </md-input-container>
            <md-input-container>
                <input type="text" id="inputLastName" class="form-control" ng-model="newEmployee.lastName"
                       placeholder="Last Name" required>
            </md-input-container>
            <md-input-container>
                <input type="number" id="inputId" class="form-control" ng-model="newEmployee.identifier"
                       placeholder="Id" required>
            </md-input-container>
        </div>
        <div flex layout="row">
            <md-datepicker ng-model="newEmployee.startDate" md-placeholder="Start Date"></md-datepicker>
            <md-datepicker ng-model="newEmployee.endDate" md-placeholder="End Date"></md-datepicker>
        </div>
        <div flex layout="row">
            <md-input-container>
                <input type="number" id="inputSalary" class="form-control" ng-model="newEmployee.basicSalary"
                       placeholder="Basic Salary" step="0.01"
                       required>
            </md-input-container>
            <md-input-container>
                <input type="number" id="inputAliquotVacationBonus" class="form-control"
                       ng-model="newEmployee.aliquotVacationBonus" placeholder="Aliquot Vacation Bonus" step="0.01"
                       required>
            </md-input-container>
        </div>
        <div flex layout="row">
            <md-input-container>
                <input type="text" id="inputJobTitle" class="form-control" ng-model="newEmployee.jobTitle"
                       placeholder="Job title" required>
            </md-input-container>
            <md-input-container>
                <label for="selectCompany">Company</label>
                <md-select name="companies" id="selectCompany" ng-model="newEmployee.companyId">
                    <md-option ng-repeat="company in companies" ng-value="company._id">{{company.name}}</md-option>

                </md-select>
            </md-input-container>
        </div>
        <md-input-container>
            <md-button ng-show="!isEdit" class="md-raised md-primary" type="submit" ng-click="isEdit = false">Save</md-button>
            <md-button ng-show="isEdit" class="md-raised md-primary" type="submit" ng-click="isEdit = true">Update</md-button>
        </md-input-container>
    </form>
</section>
<section layout-align="center center" layout-wrap>
    <div layout="row">
        <table id="table-employee" class="table table-striped">
            <thead>
            <tr>
                <th>Identifier</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Edit</th>
                <th>Payments</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="employee in employees">
                <td>{{employee.identifier}}</td>
                <td>{{employee.firstName}}, {{employee.lastName}}</td>
                <td>{{employee.basicSalary}}</td>
                <td>{{employee.startDate | date:'dd/MM/yyyy'}}</td>
                <td>{{employee.endDate | date:'dd/MM/yyyy'}}</td>
                <td class="text-center"><span class="glyphicon glyphicon-pencil"
                                              ng-click="editEmployee($event, employee)"
                                              title="Edit employee information"></span></td>
                <td class="text-center"><span class="glyphicon glyphicon-tag"
                                              ng-click="addPayments($event, employee)"
                                              title="Add payments to employee"></span></td>
                <td class="text-center text-danger"><span class="glyphicon glyphicon-remove"
                                                          ng-click="deleteEmployee($event, employee)"
                                                          title="Remove employee"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

</section>